<div class="panel panel-default">
    <div class="panel-heading">{{ element.name }}</div>
    <div class="panel-body">
        <!-- <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <strong *ngIf="element.type === 'blueprint'">{{ element.content }}</strong>
            <strong *ngIf="element.type === 'cell'" style="color: green">{{ element.content }}</strong>
        </p> -->
        <!-- Use ng-content to place content here from the app component -->
        <ng-content></ng-content>
    </div>
</div>
